/* ====================== Restaurant Details ====================== */
.inside {
    header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    }
    #map-container {
        background: blue none repeat scroll 0 0;
        height: 400px;
        margin: 80px 0 0;
        width: 100%;
      }
    #map {
        background-color: #ccc;
        height: 400px;
        width: 100%;
        display: block;
      }
    #footer {
        bottom: 0;
        position: absolute;
        width: 100%;
      }
  }
  #restaurant-name {
    color: #f18200;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
  }
  #restaurant-img {
      width: 90%;
      border-radius: 16px 0 0;
  }
  #restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
  }
  #restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
    border-radius: 0 0 16px;
  }
  #restaurant-container, #reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #reviews-container {
    padding: 30px 40px 80px;
  }
  #reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
  }
  #reviews-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      background-color: #fff;
      border: 2px solid #eeeeee;
      list-style-type: none;
      width: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 0 0 2em;
      border-radius: 0 0 16px;
      p {
        margin: 0 0 10px;
      }
      .review-header {
        background: #333333;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: .5em 0;
        border-radius: 16px 0 0 0;
        .review-name {
          color: #ffffff;
          order: 0;
          width: 50%;
          font-size: 1.8em;
          margin: auto 0 auto 1em;
        }
        .review-date {
          color: #c7c7c7;
          order: 0;
          width: 50%;
          text-align: right;
          margin: auto 1em auto 0;
          font-size: 1.1em;
        }
      }
      .review-rating {
        margin: 1em 0 0 3em;
        padding: .3em 1em;
        color: white;
        font-weight: bold;
        background-color: orange;
        text-transform: uppercase;
        border-radius: 4px;
        letter-spacing: 2px;
        align-self: flex-start;
      }
      .review-comments {
        margin: 1em 2em;
        width: 90%;
      }
  }
}
#restaurant-hours {
  td {
      color: #666;
  }
}